<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659864886049-at93mol27se3gq90civjqbtiu9d8s593.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659864886049-at93mol27se3gq90civjqbtiu9d8s593</string>
	<key>API_KEY</key>
	<string>AIzaSyDvc0p6NX_hyPsrVgwrRcfP3-yGEmXA7EQ</string>
	<key>GCM_SENDER_ID</key>
	<string>659864886049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.healingmatch.gpsmassageapplication</string>
	<key>PROJECT_ID</key>
	<string>healing-match</string>
	<key>STORAGE_BUCKET</key>
	<string>healing-match.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659864886049:ios:aa901d26f8f71e6185bc60</string>
</dict>
</plist>